In [7]:
# Learned how to use json to get the current citibke status
import requests
import json
import pandas as pd

# Public json url from Citibike
stations_url = 'https://feeds.citibikenyc.com/stations/stations.json'

# Request the response and parse the json
resp = requests.get(url=stations_url)
data = resp.json()

In [82]:
# Show a sample of the json dicts
# The Citibike Station json returns a list of dicts
data['stationBeanList'][0]

{'id': 298,
 'stationName': '3 Ave & Schermerhorn St',
 'availableDocks': 12,
 'totalDocks': 35,
 'latitude': 40.68683208,
 'longitude': -73.9796772,
 'statusValue': 'In Service',
 'statusKey': 1,
 'availableBikes': 23,
 'stAddress1': '3 Ave & Schermerhorn St',
 'stAddress2': '',
 'city': '',
 'postalCode': '',
 'location': '',
 'altitude': '',
 'testStation': False,
 'lastCommunicationTime': '2019-07-07 03:50:33 PM',
 'landMark': ''}

In [68]:
# Process the list of dictionary into DataFrame
station_df = pd.DataFrame(data['stationBeanList'])

In [69]:
station_df.columns

Index(['altitude', 'availableBikes', 'availableDocks', 'city', 'id',
       'landMark', 'lastCommunicationTime', 'latitude', 'location',
       'longitude', 'postalCode', 'stAddress1', 'stAddress2', 'stationName',
       'statusKey', 'statusValue', 'testStation', 'totalDocks'],
      dtype='object')

In [70]:
station_df.head(5)

,altitude,availableBikes,availableDocks,city,id,landMark,lastCommunicationTime,latitude,location,longitude,postalCode,stAddress1,stAddress2,stationName,statusKey,statusValue,testStation,totalDocks
0,,23,12,,298,,2019-07-07 03:50:33 PM,40.686832,,-73.979677,,3 Ave & Schermerhorn St,,3 Ave & Schermerhorn St,1,In Service,False,35
1,,11,19,,307,,2019-07-07 03:52:24 PM,40.714275,,-73.989900,,Canal St & Rutgers St,,Canal St & Rutgers St,1,In Service,False,30
2,,22,27,,358,,2019-07-07 03:51:49 PM,40.732916,,-74.007114,,Christopher St & Greenwich St,,Christopher St & Greenwich St,1,In Service,False,50
3,,17,10,,426,,2019-07-07 03:52:46 PM,40.717548,,-74.013221,,West St & Chambers St,,West St & Chambers St,1,In Service,False,29
4,,8,23,,432,,2019-07-07 03:49:56 PM,40.726218,,-73.983799,,E 7 St & Avenue A,,E 7 St & Avenue A,1,In Service,False,31

In [71]:
real_time_status = station_df[['id', 
                   'stationName',
                   'availableBikes', 
                   'availableDocks', 
                   'totalDocks',
                   'statusValue']]

In [72]:
real_time_status.sort_values(by='availableBikes', 
                             ascending=False)
real_time_status.head(10)

,id,stationName,availableBikes,availableDocks,totalDocks,statusValue
0,298,3 Ave & Schermerhorn St,23,12,35,In Service
1,307,Canal St & Rutgers St,11,19,30,In Service
2,358,Christopher St & Greenwich St,22,27,50,In Service
3,426,West St & Chambers St,17,10,29,In Service
4,432,E 7 St & Avenue A,8,23,31,In Service
5,438,St Marks Pl & 1 Ave,16,30,47,In Service
6,487,E 20 St & FDR Drive,3,31,34,In Service
7,504,1 Ave & E 16 St,0,53,53,In Service
8,532,S 5 Pl & S 5 St,26,17,43,In Service
9,3092,Berry St & N 8 St,7,20,27,In Service

In [73]:
zero_bike_mask = (real_time_status['availableBikes'] == 0)
need_bike_df = real_time_status[zero_bike_mask]
need_bike_df.head(5)

,id,stationName,availableBikes,availableDocks,totalDocks,statusValue
7,504,1 Ave & E 16 St,0,53,53,In Service
27,164,E 47 St & 2 Ave,0,47,47,In Service
28,167,E 39 St & 3 Ave,0,3,3,In Service
38,228,E 48 St & 3 Ave,0,54,55,In Service
63,266,Avenue D & E 8 St,0,29,30,In Service

In [79]:
# Get the count of stations without bikes
num_of_stations_without_bike = need_bike_df['id'].count()
print('There are {0} stations without bike!'.format(
    num_of_stations_without_bike))

There are 68 stations without bike!